{% extends 'Base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow rounded-4" style="width: 400px;">
        <h2 class="text-center mb-4">Register</h2>

        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            
            {{ Register_forms.as_p }}
            {{ UserProfile_forms.as_p }}

            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary rounded-pill">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
